- flash.each do |key, msg|
  - unless key == :timedout
    = content_tag :div, class: "alert alert-dismissable alert-#{key}" do
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
        \×
      = msg
- if notice.present?
  %p.notice= notice

- if alert.present?
  %p.alert= alert
