!!!
%html{:lang => "en"}
  %head
    %title= yield :title
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => yield(:meta_description), :name => "description"}
    = stylesheet_link_tag webpack_asset_path('main.css')

    = csrf_meta_tags
    = render 'layouts/google_analytics'
  = render partial: 'layouts/body'
